# THis is header 1

## this is header 2

### this is header 3

This is normal text <b> this is bold text <b>

In [1]:
print('Hello, World!')

Hello, World!

In [ ]:
# comment 
''' this is 
multiline 
comment

 '''

# this 
# is 
# multiline comment

' this is \nmultiline \ncomment\n\n '

In [3]:
# create python variables 

name = 'ram'

In [4]:
name

'ram'

In [5]:
# assign different value to the variable 
name= 'Hari'

In [7]:
name

'Hari'

In [8]:
a, b, c = 'Ram', '10', 10

In [9]:
a

'Ram'

In [10]:
b

'10'

In [11]:
x= y = 'Texas'

In [12]:
x

'Texas'

In [13]:
y

'Texas'

In [14]:
_age= 10

In [15]:
_age

10

In [18]:
name0= 'abc'

In [19]:
# types of variable 
# numeric - int, float , complex
# text - str < '', "" >
# boolean, True ,False 
# none type - None
# list, dict, tuples, set, range

In [20]:
int1= 10

In [21]:
type(int1)

int

In [22]:
float1= 10.00

In [23]:
type(float1)

float

In [24]:
com1= 1+6j

In [25]:
type(com1)

complex

In [26]:
name= 'abc'

In [28]:
type(name)

str

In [29]:
name1= "this is string"

In [30]:
type(name1)

str

In [31]:
bool1= True

In [32]:
type(bool1)

bool

In [33]:
none1= None

In [34]:
type(none1)

NoneType

In [ ]:
# implicit type conversion 
f1= 10.12
i1= 3 
print(type(f1))
print(type(i1))

<class 'float'>
<class 'int'>

In [37]:
i1= i1/f1

In [38]:
print(i1)
print(type(i1))

0.2964426877470356
<class 'float'>

In [ ]:
#float(), str(), int()
i1= int(i1)

In [40]:
type(i1)

int

In [41]:
i1

0

In [42]:
str2= '10'
type(str2)

str

In [43]:
str2= int(str2)

In [44]:
type(str2)

int

In [45]:
str2

10

In [46]:
str3= '10.0'
type(str3)

str

In [48]:
str3= float(str3)

In [49]:
str3

10.0

In [50]:
type(str3)

float

In [ ]:
str4= 'this is string'

# str4= float(str4)

ValueError: could not convert string to float: 'this is string'

In [53]:
#task 1 - take two number using input() and print() the sum of two no.

In [54]:
x= input('Enter 1st number')
y = input("Enter 2nd number")

In [55]:
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [56]:
x= int(x)
y=int(y)

In [57]:
print('the sum is', x+y)

the sum is 3

In [59]:
x= int(input('Enter 1st number'))
y= int(input('Enter 2nd number'))
print('The sum is', x + y)

The sum is 7

In [60]:
# output format 
# using + 
# using f''
# using .format

In [63]:
name= 'Alez'
age= '20'

In [66]:
# output format using +
print('My name is '+ name + ' and age is ' + age)

My name is Alez and age is 20

In [70]:
# using , 
name= 'Alez'
age= 30 
print('My name is ', name ,' and age is ' , age)

My name is  Alez  and age is  30

In [ ]:
# using f""- f string method 
print(f"My name is {name} and age is {age}")

My name is Alez and age is 30

In [72]:
# .format method 
print("My name is {} and age is {}".format(name, age))

My name is Alez and age is 30

In [73]:
# list 
# dict
# tuple
# set

In [74]:
# list []

lis1= [1,2,'abd', 7+8j]

In [75]:
type(lis1)

list

In [76]:
lis2= ['10', 10, 10.0, [1,2,3]]

In [77]:
print(lis2)

['10', 10, 10.0, [1, 2, 3]]

In [78]:
#ordered 
lis2[-2]

10.0

In [79]:
# mutable - can change the value 
# allow duplicates

In [80]:
lis2[0]

'10'

In [81]:
lis2[-1]

[1, 2, 3]

In [88]:
lis2[-1][0]

1

In [91]:
#slicing operations 
lis2[0:2]

['10', 10]

In [92]:
# create a list and perform indexing, negative indexing, slicing operations

In [93]:
# iterate through a list 
for items in lis2:
    print(items)

10
10
10.0
[1, 2, 3]

In [95]:
# tuple - ()
# ordered 
# allow duplicates 
# immutable

In [99]:
tup1= (1,2,3, 3)

In [100]:
type(tup1)

tuple

In [101]:
tup1[0]

1

In [103]:
lis1[0]= 2

In [104]:
lis1[0]

2

In [105]:
tup1[0]

1

In [106]:
tup1[0]= 10

TypeError: 'tuple' object does not support item assignment

In [107]:
tup1

(1, 2, 3, 3)

In [108]:
tup1= (11,11,11,11)

In [109]:
tup1

(11, 11, 11, 11)

In [110]:
type(tup1)

tuple

In [ ]:
# sets 
# unique (no duplicates)
# unordered
# mutable  
#set operations- union, intersection, differece,

In [112]:
s1= set()

In [113]:
type(s1)

set

In [114]:
s1 = {2,3,4,5,6}

In [115]:
type(s1)

set

In [116]:
s2= {2,3,4,5,6,6,6}

In [117]:
s2

{2, 3, 4, 5, 6}

In [118]:
s2[0]

TypeError: 'set' object is not subscriptable

In [121]:
# task 2- create 2 sets and perform union on two sets

In [122]:
# a | b ,  a.union(b)

In [124]:
# create a python dictionary : key and value pair, eg. n
dict1= { 'name':'ihsa',
        'age':34,
        'address':'ktm'

}

In [125]:
dict1

{'name': 'ihsa', 'age': 34, 'address': 'ktm'}

In [126]:
dict1['age']

34

In [127]:
dict1['age']= 23

In [128]:
dict1

{'name': 'ihsa', 'age': 23, 'address': 'ktm'}

In [129]:
set3= {1,2,3,4,5}

In [131]:
set3.add(8)

In [132]:
set3

{1, 2, 3, 4, 5, 8}

In [133]:
set3.remove(3)

In [134]:
set3

{1, 2, 4, 5, 8}

In [135]:
# frozenset - immutable set 
fs= frozenset([1,2,3,3,3,4,5,6])

In [136]:
fs

frozenset({1, 2, 3, 4, 5, 6})

In [137]:
fs.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [138]:
# deque - double ended queue 
from collections import deque

In [139]:
dq= deque([1,2,3])

In [141]:
type(dq)

collections.deque

In [142]:
dq.append(4)

In [143]:
dq

deque([1, 2, 3, 4])

In [144]:
dq.appendleft(0)

In [146]:
dq

deque([0, 1, 2, 3, 4])

In [ ]:
# pop 
# popleft

In [147]:
#defaultdict 
from collections import defaultdict
dd= defaultdict(list)

In [148]:
dd

defaultdict(list, {})

In [149]:
dd['name'].append('apple')

In [150]:
dd

defaultdict(list, {'name': ['apple']})

In [151]:
dd['name'].append('banana')

In [152]:
dd

defaultdict(list, {'name': ['apple', 'banana']})

In [153]:
#counter 
from collections import Counter

c= Counter('aaabbssbsssjjssk')

In [154]:
c

Counter({'s': 7, 'a': 3, 'b': 3, 'j': 2, 'k': 1})

In [155]:
# list comprehensions 
# generate a square no of the given list 
# [expression for item in iterable if condition]

In [156]:
l1= [2,3,4,45,44,4]

In [ ]:
for item in l1:
    print(item*item)

In [157]:
lc= [item*item for item in l1 ]

In [158]:
lc

[4, 9, 16, 2025, 1936, 16]

In [159]:
# using list comprehension find the even no from the given list 
l2= [1,2,3,4,5,6,7,33,44,55]

lc2= [item for item in l2 if item%2==0 ]

In [160]:
lc2

[2, 4, 6, 44]

In [161]:
# create a list comprehension to change into uppercase 
# .upper()

In [162]:
name= ['Adam', 'Eve', 'Nelson', 'Ram']
lc3= [item.upper() for item in name]

In [163]:
lc3

['ADAM', 'EVE', 'NELSON', 'RAM']

In [165]:
#dictionary comprehension 
lc4= {item:item.upper() for item in name}

In [166]:
lc4

{'Adam': 'ADAM', 'Eve': 'EVE', 'Nelson': 'NELSON', 'Ram': 'RAM'}

In [167]:
# task 3 : create a dict comprehension to print square no upto 10 keys

lc5= {item:item*item for item in range(10)}

In [168]:
lc5

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [171]:
# generators 
g1= (item for item in range(10) )

In [172]:
g1

In [173]:
next(g1)

0

In [174]:
next(g1)

1

In [1]:
# map, filter reduce , lamdba

In [ ]:
def func_name(parameter1, parameter2):
    #this is function body 
    return None

func_name(1,2) #calling the function

In [ ]:
# lambda --> small , one line function 
#syntax 
# lambda parameter/argument: function_body/expression

In [4]:
def sqr_func(x):
    return x * x 

result= sqr_func(5)
print(result)

25

In [5]:
# create a lambda function to get the square of the number: 
re= lambda x: x * x
re(5)

25

In [6]:
# map ---> applies function to every iterable 
#iterable like list 
# function 
# map applies function to every item of the list

In [9]:
 # map(function, iterable)
num1= [1,2,3,4]
# add 3 to every iterable of list num1 

add_3= list(map(lambda x:x + 3, num1))

In [10]:
add_3

[4, 5, 6, 7]

In [11]:
# filter 
# filter(function, iterable)
# return the true value 
# task 1: using filter from the list filter numbers divisible by 3 
# example list: [1,2,3,4,5,6,7,8,9,10,11,12]

In [12]:
lis2= [1,2,3,4,5,6,7,8,9,10,11,12]
f1= list(filter(lambda x: x%3==0, lis2))

In [13]:
f1

[3, 6, 9, 12]

In [16]:
# reduce(function, iterable)
# to reduce to single iterable/value
# repeatedly applies the function to the iterable 
from functools import reduce
sum_num2= reduce(lambda x,y : x+ y, lis2)

In [17]:
sum_num2

78

In [18]:
# # task 2: use filter, map, reduce to get the squared sum of even no from the list. 
# 1. Filter --> get even no.
# 2. map --> sqare of even no. 
# 3. reduce --> final sum

### error handling

In [19]:
# handles the error that can arise in the program during execution 
# try/except 
# try/except/else/finally

In [ ]:
# try: 
#     # code that can rise exception 
#     pass
# except exception_type: 
#     # code that shows this exception 
#     pass
# else: 
#     # program when run is success or there is no exception 
#     pass
# finally: 
#     # always run this
#     pass

In [24]:
try: 
    num1= int(input('Enter the first no: '))
    num2=  int(input('Enter the second number:'))
    div_res= num1/num2 
except ZeroDivisionError: 
    print('Second number cannot be zero')
except ValueError: 
    print('The input value is not correct')
else: 
    print(f'The result is {div_res}')
finally: 
    print('Program Run successful')

The input value is not correct
Program Run successful

In [25]:
# creating custom exception

In [ ]:
class NegativeNumberError(Exception):
    pass

Age cannot be negative

In [30]:
def negative_age(x):
    if x < 0 :
        raise NegativeNumberError('Age cannot be negative')
    return 'Age is valid'

In [31]:
try: 
    negative_age(-1)
except NegativeNumberError as e: 
    print(e)

Age cannot be negative

In [ ]:
# assignment 1: Build a CSV â†’ JSON converter with exception handling

### python class

In [33]:
class ClassName: 
    # class attributes and methods 
    pass 

# create a object of a class 
c1= ClassName()

In [39]:
class Car: 
    # constructor
    def __init__(self, brand, model, year):
        self.brand= brand
        self.model = model 
        self.year= year
        self.speed= 0 # default attribute  
    
    def display_info(self):
        print(f'Build Year : {self.year}, Brand: {self.brand}, Model: {self.model}')
    
    def accelerate(self, amount):
        self.speed += amount
        print('Car speed is', self.speed, 'km/h')

In [40]:
# create a object of a class 
c1= Car('Toyota', 'Hilux', 2017)

In [41]:
c1.display_info()

Build Year : 2017, Brand: Toyota, Model: Hilux

In [44]:
c1.accelerate(80)

Car speed is 240 km/h

In [45]:
### operator overloading , dunder methods (double underscore) __init__, __str__

In [46]:
# operators in python +, -, *, 
# + --> __add__ 
# str() -- > __str__

In [54]:
# vector addition using operator overloading 
class Vector2D: 
    def __init__(self, x, y):
        self.x= x
        self.y= y 
    
    # string overloading 
    def __str__(self):
        return f'{self.x}, {self.y}'
    
    # addition v1 + v2 
    def __add__(self, other):
        return Vector2D(self.x + other.x, self.y+other.y)
    
    def __sub__(self, other):
        return Vector2D(self.x - other.x, self.y-other.y)

In [55]:
# instance of clas Vector2D 
v1= Vector2D(2,3)
v2= Vector2D(3,4)

In [56]:
print(v1 + v2 )

5, 7

In [57]:
print(v1-v2)

-1, -1

### inheritance, mixins, method overriding

In [60]:
class Animal():
    def __init__(self):
        pass

    def speak(self):
        print('Animal Speak')

In [66]:
# single inheritance with method overriding
class Dog(Animal):
    def __init__(self):
        pass
    def speak(self):
        print('Dog Barks')

In [67]:
d1= Dog()

In [68]:
d1.speak()

Dog Barks

In [69]:
class Employee():
    def __init__(self, name, base_salary):
        self.name = name
        self.base_salary= base_salary
    
    def get_deatils(self):
        return f'Employee Name: {self.name}, Salary: {self.base_salary}'

In [ ]:
class Manager(Employee):
    def __init__(self, name, base_salary, bonus):
        super().__init__(name, base_salary)
        self.bonus= bonus
    def get_deatils(self):
        base= super().get_deatils()
        return f"{base}, Bonus: {self.bonus}"

In [71]:
e1= Employee('Krish', 1000)
m1= Manager('Rick', 2000, 200)

In [72]:
e1.get_deatils()

'Employee Name: Krish, Salary: 1000'

In [73]:
m1.get_deatils()

'Employee Name: Rick, Salary: 2000, Bonus: 200'

### Mixins

In [1]:
# special class that add reusable functionality to other class, they are not fully parent 
# __init__ is not defined

In [2]:
from datetime import datetime
class LogMixin():
    def log(self, message):
        return f"[{datetime.now()}]:{message}"

In [7]:
class User(LogMixin):
    def __init__(self, username, password):
        self.username= username
        self.password= password
    
    def greet(self):
        print(self.log(f"{self.username} has logged in."))

In [8]:
u1= User('admin', 'ad123')

In [9]:
u1.greet()

[2025-07-08 08:46:47.900865]:admin has logged in.

In [10]:
# class Product - price, name
# mixins - DiscountMixins - method add_discount(percent)

In [23]:
class DiscountMixins():
    def add_dicount(self, percent):
        discount= self.price * (percent/100)
        print( f"Origial price is {self.price} and price after discount is {self.price-discount}")

In [24]:
class Product(DiscountMixins):
    def __init__(self, name, price):
        self.name= name
        self.price = price
    def final_price(self):
        super().add_dicount(20)

In [25]:
p1= Product('rice', 3000)

In [26]:
p1.final_price()

Origial price is 3000 and price after discount is 2400.0

In [ ]:
# new line added