In [1]:
import sqlite3 # build in sqlite3 module

In [2]:
# create table 
# sqlite data types
# integer - int
# real - float 
# text - string, date, char, 
# blob- binary data
# null - null

In [3]:
# connect to the database (file will be created id doesnot exist )
conn= sqlite3.connect('students.db')

In [4]:
# create a cursor to execute a sql 
cursor= conn.cursor()

In [5]:
# create table
cursor.execute("""
create table if not exists students (
    id integer primary key autoincrement, 
    name text not null, 
    grade integer,
    address text 
) """
)
conn.commit()

In [6]:
# insert into table 
cursor.execute("""insert into students(name, grade, address)
values 
('Lima', 12, 'Ktm'), 
('Grey',11, 'Pok')""")

conn.commit()

In [7]:
# select 
cursor.execute("""select * from students""")
rows  = cursor.fetchall()

In [8]:
for items in rows: 
    print(items)

(1, 'Lima', 12, 'Lalitpur')
(2, 'Grey', 11, 'Pok')
(3, 'Bishal', 10, 'Kavre')
(4, 'Abc', 1, 'Ktm')
(5, 'jamal', 2, 'Ktm')
(6, 'Lima', 12, 'Ktm')
(7, 'Grey', 11, 'Pok')

In [9]:
# update 
cursor.execute("""update students 
set address = 'Lalitpur'
where name = 'Lima'
""")

conn.commit()

In [10]:
# task 1- insert new record into students
#task 2 - select from student where id = 4 
# task 3- delete from student where id = 1

In [11]:
# task 1- insert new record into students
cursor.execute(""" insert into students(name, grade, address)
values 
('Bishal', 10,'Kavre')""")

conn.commit()

In [12]:
#task 2 - select from student where id = 4 
cursor.execute("""select * from students where id= 3 """)
rows= cursor.fetchall()

In [13]:
rows

[(3, 'Bishal', 10, 'Kavre')]

In [14]:
# close connection 
conn.close()

In [15]:
# parameterized queries ---- user can pass the parameter
# ? --> placeholder 
# values are passed as a tuple or list

In [16]:
conn= sqlite3.connect('students.db')

In [17]:
cursor= conn.cursor()

In [18]:
name= 'Bishal'

In [19]:
cursor.execute("select * from students where name= ?", (name,))

In [20]:
cursor.fetchall()

[(3, 'Bishal', 10, 'Kavre'), (8, 'Bishal', 10, 'Kavre')]

In [21]:
# task 4= create a list of students record and pass it as parameterized query 
# to insert into students table

In [22]:
students = [
    ('Abc', 1, 'Ktm'), 
    ('jamal', 2, 'Ktm')
]

cursor.executemany('insert into students(name, grade, address) values (?,?,?)', students)

conn.commit()

In [25]:
# task 3: show name of students that study in grade 11 
cursor.execute("""select name from students 
where grade = 11""")

students_11= cursor.fetchall()
for res in students_11:
    print(res)

('Grey',)
('Grey',)