In [13]:
import sqlite3 # build in sqlite3 module

In [14]:
# create table 
# sqlite data types
# integer - int
# real - float 
# text - string, date, char, 
# blob- binary data
# null - null

In [15]:
# connect to the database (file will be created id doesnot exist )
conn= sqlite3.connect('students.db')

In [16]:
# create a cursor to execute a sql 
cursor= conn.cursor()

In [17]:
# create table
cursor.execute("""
create table if not exists students (
    id integer primary key autoincrement, 
    name text not null, 
    grade integer,
    address text 
) """
)
conn.commit()

In [18]:
# insert into table 
cursor.execute("""insert into students(name, grade, address)
values 
('Lima', 12, 'Ktm'), 
('Grey',11, 'Pok')""")

conn.commit()

In [23]:
# select 
cursor.execute("""select * from students""")
rows  = cursor.fetchall()

In [25]:
for items in rows: 
    print(items)

(1, 'Lima', 12, 'Ktm')
(2, 'Grey', 11, 'Pok')

In [ ]:
# update 
cursor.execute("""update students 
set address = 'Lalitpur'
where name = 'Lima'
""")

conn.commit()

In [ ]:
# task 1- insert new record into students
#task 2 - select from student where id = 4 
# task 3- delete from student where id = 1

In [27]:
# task 1- insert new record into students
cursor.execute(""" insert into students(name, grade, address)
values 
('Bishal', 10,'Kavre')""")

conn.commit()

In [30]:
#task 2 - select from student where id = 4 
cursor.execute("""select * from students where id= 3 """)
rows= cursor.fetchall()

In [31]:
rows

[(3, 'Bishal', 10, 'Kavre')]

In [32]:
# close connection 
conn.close()

In [ ]:
# parameterized queries ---- user can pass the parameter
# ? --> placeholder 
# values are passed as a tuple or list

In [34]:
conn= sqlite3.connect('students.db')

In [35]:
cursor= conn.cursor()

In [37]:
name= 'Bishal'

In [38]:
cursor.execute("select * from students where name= ?", (name,))

In [39]:
cursor.fetchall()

[(3, 'Bishal', 10, 'Kavre')]

In [ ]:
# task 4= create a list of students record and pass it as parameterized query 
# to insert into students table

In [40]:
students = [
    ('Abc', 1, 'Ktm'), 
    ('jamal', 2, 'Ktm')
]

cursor.executemany('insert into students(name, grade, address) values (?,?,?)', students)

conn.commit()